<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/style.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/312b5ebd12.js"
      crossorigin="anonymous"
    ></script>
    <title>ToDOAPP</title>
  </head>
  <body class="bg-stone-100">
    <%- include('partials/_navbar.ejs') -%>
    <main class="h-screen flex items-center">
        <%- include('partials/_content.ejs') -%>
        
        <div class="w-1/4 h-3/4 bg-white shadow-lg rounded-lg items-center ml-10 py-20 px-4">
          <div
          class="w-full h-16 items-center text-center justify-center flex shadow-sm"
        >
          <label class="text-xl font-bold text-gray-700">ADD JOB</label>
        </div>
        <div class="w-full h-96">
          <form action="/" method="POST">
            <div class="w-full p-2 flex flex-col">
              <label class="font-bold text-lg text-gray-700">Job Title</label>
              <input
              name="job_title"
                class="w-3/4 h-14 rounded-md border-2 mt-2 p-3 ml-3 focus:border-indigo-600  outline-none hover:border-indigo-600 "
                placeholder="Job Title"
                type="text"
              />
            </div>
            <div class="w-full p-2 flex flex-col mt-2">
              <label class="font-bold text-lg text-gray-700 "
                >Job Description</label
              >
              <input
              name="job_description"
                class="w-3/4 h-14 rounded-md border-2 mt-2 p-3 ml-3 focus:border-indigo-600  outline-none hover:border-indigo-600"
                placeholder="Job Description"
                type="text"
              />
            </div>
            <div class="w-full p-2 flex flex-col mt-2 shadow-sm">
              <label class="font-bold text-lg text-gray-700"
                >Job Priority</label
              >
              <select
             name="job_proiritiy"
                class=" w-3/4 h-14 rounded-md border-2 mt-2 ml-3 items-center focus:border-indigo-600  outline-none hover:border-indigo-600"
                aria-placeholder="Job Priority"
              >
                <option disabled selected class="text-lg text-gray-400">
                  Choose job priority
                </option>
                <option class="text-lg" value="10">High</option>
                <option
                  class="text-lg hover:bg-indigo-500 transition-colors duration-75"
                  value="5"
                >
                  Medium
                </option>
                <option class="text-lg" value="0">Low</option>
              </select>
            </div>
            <div class="flex items-center justify-end w-full  p-2">
              <button
                type="submit"
                class="focus:outline-none w-full mt-20 h-12  focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-8 py-2 text-xl"
              >
                Add
              </button>
            </div>
          </form>
        </div>
      
        </div>
    
    
      </main>
    <footer class="bottom-0"><%- include('partials/_footer.ejs') -%></footer>
  </body>
</html>
